body {
	font-family: 'PT Sans', sans-serif;
  position: relative;
}

.title {
  margin-left: 40px;
}

.container {
  margin: 120px 0 0 40px;
  min-height: 200px;
  overflow: scroll;
}

.artikal {
  display: inline-block;
  vertical-align: top;
}

.figi {
  margin: 0;
  text-align: center;
}

.imaj {
  height: 200px;
  width: 200px;
}

.tekst {
  margin-top: 10px;
  text-align: center;
  max-width: 200px;
}

.link {
  text-decoration: none;
}

small {
  font-size: 14pt;
}

div#main {
  margin-bottom: 10px;
}

div#footer {
  display: block;
  position: absolute;
  bottom: 0;
  margin-top: 10px;
  margin-left: 40px;
}
